@{
    ViewData["Title"] = "Paws & Claws";
    Layout = "~/Views/Shared/Layouts/_Layout.cshtml";
}
<body>
    <link rel="stylesheet" type="text/css" href="~/Styles/homestyle.css" />
    <div class="welcomeContainer">
        <h1>An error occurred</h1>
        <p>We're sorry, something went wrong. Please try again later.</p>
        <img src="/images/errorImage.png" alt="errorImage" />
    </div>
</body>

